.hero-image {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1598634549802-dcc558705f19?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    h1, h2 {
        color: white;
    }
}

@media only screen and (min-width: 800px ) {

.hero-image {
    h1, h2 {
        color: red;
    }
    h1 {
        font-size: 10rem;
    }
    h2 {
        font-size: 4rem;
    }
}

}
