@import "normalize.css";

.nav-header {
    background-color: #91afdf;
    height: 10%;
    display: flex;
    justify-content: space-between

}

.nav-header nav {
    margin-right: 1rem;
}
.nav-header img {
    height: 50px;
    width: 50px;
}

.nav-items {
    width: 65%;
    display: flex;
    justify-content: space-between;
}
.nav-items a{ 
    text-decoration: none;
    font-size: 1.5rem;
}


